*{
    margin: 0;
    padding: 0;
}
/* 1em = 16 px */
body{
    font-family: Helvetica, sans-serif;
}

nav{
    border: solid red;
    display: flex;
    justify-content: space-between; /* alineación horizontal*/
    background-color: rgba(123, 74, 226, 0.5);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.nav-list {
    border: solid green;
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-list > li > a {
    text-decoration: none;
    color: white;
}

